.container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  justify-content: center;
  gap: 24px;
  max-width: 1120px;
  margin: 0 auto;
  margin-top: 48px;
  padding: 0 54px;
}

.img-portatil {
  margin-top: 4rem;
}

.imagen {
  width: 100%;
  justify-self: flex-end;
}

.titulo {
  font-family: 'Bogart', sans-serif;
  font-size: 4.3rem;
  line-height: 6rem;
  margin: 0;
}